<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<InitUpload xmlns="http://e-dokumenty.mf.gov.pl">
    <DocumentType>{{ doc.type }}</DocumentType>
    <Version>01.02.01.20160617</Version>
    <EncryptionKey algorithm="RSA" mode="ECB" padding="PKCS#1" encoding="Base64">{{ encKey }}</EncryptionKey>
    <DocumentList>
        <Document>
            <FormCode systemCode="{{ doc.systemCode }}" schemaVersion="{{ doc.schemaVersion }}">{{ doc.formCode }}</FormCode>
            <FileName>{{ file.name }}</FileName>
            <ContentLength>{{ file.size }}</ContentLength>
            <HashValue algorithm="SHA-256" encoding="Base64">{{ file.hash }}</HashValue>
            <FileSignatureList filesNumber="{{ aesList|length }}">
                <Packaging>
                    <SplitZip type="split" mode="zip"/>
                </Packaging>
                <Encryption>
                    <AES size="256" block="16" mode="CBC" padding="PKCS#7">
                        <IV bytes="16" encoding="Base64">{{ file.ivHash }}</IV>
                    </AES>
                </Encryption>
{% for zip in aesList %}
                <FileSignature>
                    <OrdinalNumber>{{ loop.index }}</OrdinalNumber>
                    <FileName>{{ zip.name }}</FileName>
                    <ContentLength>{{ zip.size }}</ContentLength>
                    <HashValue algorithm="MD5" encoding="Base64">{{ zip.hash }}</HashValue>
                </FileSignature>
 {% endfor %}
            </FileSignatureList>
        </Document>
    </DocumentList>
</InitUpload>